.mapComponent { 
	overflow: hidden;
	height: auto !important;
	position: absolute;
	top: 3px;
	left:0;
	bottom: 5px;
}
.mapComponent > div > div {
	height: 100%;
}

.mapFooter > * {
	display: inline-block;
	margin-right: 5px;
	white-space: nowrap;
}
@sprite .mapFooter {
	right: 0;
	bottom: 5px;
	left: 0;
	position: absolute;
	padding: 0 15px;
	line-height: 33px;
	gwt-image: "footer";
}

.edit-node {
	box-shadow: 0 0 0 5px rgba(0,0,0,.45);
	border: 1px solid #000 !important;
	margin: -1px 0 0 -1px;
	transition: box-shadow 0.2s ease;
	width: 7px !important;
	height: 7px !important;
}
.edit-node.hover {
	box-shadow: 0 0 0 7px rgba(0,0,0,.6);
}
.edit-node.middle {
	width: 5px !important;
	height: 5px !important;
	box-shadow: none;
}
.edit-node.middle.hover {
	box-shadow: 0 0 0 5px rgba(0,0,0,.5);
}