@charset "utf-8";

#noIE .sgwebui-decoratedButton .butTopCenterInner,
#IE9 .sgwebui-decoratedButton .butTopCenterInner,
 a.btn, a.btn.disabled.down {
	border: 1px solid #bbb;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
	background: linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
	color: #444;
	cursor: pointer;
	padding: 3px 6px;
}
.gwt-PushButton-up-hovering .butTopCenterInner, 
a.btn:hover {
	color: #850202;
}
#noIE .sgwebui-decoratedButton.gwt-PushButton-down-hovering .butTopCenterInner,
#I9E .sgwebui-decoratedButton.gwt-PushButton-down-hovering .butTopCenterInner,
a.btn.down {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwMzMxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzkyNDUxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #703310 0%, #924518 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#703310), color-stop(99%,#924518));
	background: -webkit-linear-gradient(top, #703310 0%,#924518 99%);
	background: -o-linear-gradient(top, #703310 0%,#924518 99%);
	background: -ms-linear-gradient(top, #703310 0%,#924518 99%);
	background: linear-gradient(top, #703310 0%,#924518 99%);
	border-color: #622b09;
	color: #fff;
}

#IE .sgwebui-decoratedButton .butTopLeft {
	height: 26px;
	width: 8px;
	background: url(../img/buttons/btn_ie.png) left top no-repeat;
}
#IE .sgwebui-decoratedButton .butTopLeftInner {
	width: 6px;
}
#IE .sgwebui-decoratedButton .butTopCenterInner {
    padding: 4px 6px 4px 0;
}
#IE .gwt-PushButton-down-hovering .butTopLeft {
	background-position: left bottom;
}