/* ###### LAYERS TREE FILTER ###### */

.sgwebui-filter {
	width: 130px;
	position: relative;
}
#noIE .sgwebui-filter,
#IE9 .sgwebui-filter {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 2px #777 inset;
	padding: 3px 20px 3px 5px;
	background: #fff;
	border: 1px solid #999;
	border-top: 1px solid #777;
	border-bottom: 1px solid #bbb;
}

#IE .sgwebui-filter {
	background:url("../img/filter/layersTree-filter_ie.png") left top;
	height: 18px;
	padding: 3px 20px 3px 5px;
	margin-right: 8px;
}
#IE .sgwebui-filter .rSide {
	background:url("../img/filter/layersTree-filter_ie.png") right top;
	width: 8px;
	display: block;
	height: 24px;
	position: absolute;
	right: -8px;
	top: 0;
}

.sgwebui-filter input.textbox {
	border: none;
	margin: 0;
	padding: 1px 0 0;
	width: 100%;
	color: #aaa;
	height: 16px;
}
.sgwebui-filter input.textbox:focus {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.sgwebui-filter.on input.textbox {
	color: #5A5A5A;
}

.sgwebui-filter span.icon {
	width: 14px;
	height: 14px;
	background: url("../img/filter/filter_icon.png") 0 0 no-repeat;
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
}

.sgwebui-filter.on span.icon {
	background-position: 0px -16px;
	cursor: pointer;
}

.sgwebui-filter.on span.icon:hover {
	background-position: 0px -32px;
}