@external *;

/***************** FORM TABLE **************************************/
td.sgwebui-table-title,
tr.header td {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGI0YjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: literal("-moz-linear-gradient(top, #dddddd 0%, #b4b4b4 100%)");
	background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#b4b4b4))");
	background: literal("-webkit-linear-gradient(top, #dddddd 0%,#b4b4b4 100%)");
	background: literal("-o-linear-gradient(top, #dddddd 0%,#b4b4b4 100%)");
	background: literal("linear-gradient(top, #dddddd 0%,#b4b4b4 100%)");
	color: #555;
	font-weight: bold;
	font-size: 11px;
}

tr.header td.sortable {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: literal("-moz-linear-gradient(top, #b4b4b4 0%, #dddddd 100%)");
	background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4b4b4), color-stop(100%,#dddddd))");
	background: literal("-webkit-linear-gradient(top, #b4b4b4 0%,#dddddd 100%)");
	background: literal("-o-linear-gradient(top, #b4b4b4 0%,#dddddd 100%)");
	background: literal("linear-gradient(top, #b4b4b4 0%,#dddddd 100%)");
}
tr.filter td {
	background: #b4b4b4;
	border-bottom: 1px solid #aaa;
}
tr.filter td.sortable { 
	background: #dddddd;
}

tr.header.noFilter td { 
	border-bottom: 1px solid #aaa; 
}

tr.even { 
	background-color: #F8F8F8; 
}
tr.odd { 
	background-color: #EFEFEF; 
}

.selectable tr:hover {
	background: #e2e2e2;
}

.selectable tr.selected,
.selectable tr.selected:hover { 
	background: #e0e0e0; 
}

.sgwebui-table tr.title > td {
	border-color: #337b95;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwOWFiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjc0ODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: literal("-moz-linear-gradient(top, #509aba 0%, #367483 100%)");
	background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#509aba), color-stop(100%,#367483))");
	background: literal("-webkit-linear-gradient(top, #509aba 0%,#367483 100%)");
	background: literal("-o-linear-gradient(top, #509aba 0%,#367483 100%)");
	background: literal("linear-gradient(top, #509aba 0%,#367483 100%)");
}

@if user.agent ie6 ie8 {
	@sprite td.sgwebui-table-title,
	tr.header td {
		gwt-image: "cellBg";
		height: auto;
	}
	@sprite tr.header td.sortable {
		gwt-image: "cellSorted";
		height: auto;
	}
	@sprite .sgwebui-table tr.title > td {
		gwt-image: "cellTitle";
		height: auto;
	}
}

/*********** PAGE SIZE **************/
.pageSizeSelectors a:hover { 
	border-color: #999; 
}
.pageSizeSelectors a.active, .pageSizeSelectors a.active:hover {
	border-color: #509aba; 
}